.arrow-exit {
  text-decoration: none;
  color:black;
  display:inline-block;

  margin-top:15px;
  margin-bottom:20px;
}
.exit-box {
  display:flex;
  flex-direction:row;
  align-items: center;
}
.arrow-back {
  font-size:26px;
  margin-left:10px;
}
.resume {
  font-size:25px;
  font-weight:bold;
  padding-left:5px;
}





.section {
  font-size:16px;
  font-weight:bold;
  margin-left:10px;
  color:#303030;
}
.menu {
  border-radius: 10px;
  overflow: hidden;
  margin-top:10px;
}

.menu-item {
  margin-right:10px;
  margin-left:10px;
  margin-bottom:5px;

  padding: 8px;
  text-align: center;
  background-color: #eaeaea;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
  border-radius:12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #ccc;
}

.menu-item.selected {
  background-color: #0056ff;
  color: #fff;
  font-weight: bold;
}






.job-experience {
  margin-top:10px;
}
.experience-container {
  text-align: center;
  margin-right:5px;
  margin-left:5px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0056ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0056ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  font-size: 14px;
  color: #666;
}

.current-value {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}









.person-status {
  margin-top:10px;
  margin-bottom:10px;
}
.status-menu {
 margin-left:5px;
 margin-right:5px;
}
.status-item {
  padding:8px;
  width:200px;
  margin-bottom:3px;

  border: 2px solid #ddd;
  border-radius:12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.status-item:hover {
  background-color: #ccc;
}
.status-item.selected {
  background-color: #0056ff;
  color: #fff;
  font-weight: bold;
}

.input-box {
  margin-left:5px;
  margin-right:5px;
}
.input-box input {
  width:100%;
  box-sizing: border-box;
  padding-left:5px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #E4E4E4;
}




.save-changes-box {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top:40px;
}
.save-changes {
  width:80vw;
  padding:10px 10px;
  border:0.1px solid grey;
  border-radius:20px;
  background-color: white;
  margin-bottom:6px;
  color:grey;
  font-size: 15px;
  transition:.15s;
}
.save-changes:active {
  background-color: #1739D9;
  color:white;
}
