.arrow-exit {
  text-decoration: none;
  color:black;
  display:inline-block;

  margin-top:15px;
  margin-bottom:50px;
}
.exit-box {
  display:flex;
  flex-direction:row;
  align-items: center;
}
.arrow-back {
  font-size:26px;
  margin-left:10px;
}
.resume {
  color:white;
  font-size:20px;
  font-weight:bold;
  padding-left:10px;
}

.first-section {
  background:radial-gradient(#279EFFAB,#D2D2D200);
}



.profile-image-box {
  position:absolute;
  top:-10px;
  left:50%;
  transform: translate(-50%, -30%);
}
.change-box {
  position:relative;
}
.profile-image {
  width:100px;
  border-radius: 20px;
}
.change-image {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -30%);
  color:white;
  text-decoration: underline;
  font-size:10px;
}







.sub-section {
  padding-top:70px;
  background-color:white;
  border-radius:20px;

  position:relative;
}
.input-folder input {
  margin: 5px 10px;
  box-sizing:border-box;
  width:calc(100% - 20px);

  box-sizing: border-box;
  padding-left:5px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #E4E4E4;
}
#phone-number {
  margin-top:30px;
}


.checkbox {
  display:flex;
  flex-direction:row;
  align-content: center;
  margin-left:10px;
  margin-top:15px;
  padding-bottom:20px;
}
.checkbox label {
  font-size:14px;
  line-height:12px;
  padding-left:5px;
}
#checkbox {
  width:20px;
}


.save-button-changes {
  margin-top:20px;
  display:flex;
  justify-content: center;
  align-content: center;
}
.save-button {
  width:80vw;
  padding:10px 10px;
  border:0.1px solid grey;
  border-radius:20px;
  background-color: white;
  margin-bottom:6px;
  color:grey;
  font-size: 15px;
  transition:.15s;
}
.save-button:active {
  background-color: #1739D9;
  color:white;
}